            /* l'etoile = all */
            
            * {
                margin: 0;
            }
            
            body {
                display: flex;
                width: 100%;
                background-image: url(sprite-star_wars/planet.jpg);
                flex-direction: row;
                align-content: space-between;
            }
            /* nb > s'applique sur tous les enfants de body */
            
            body>div {
                width: 50vw;
                display: flex;
                height: 100vh;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            
            @font-face {
                font-family: "STARWARS";
                src: url("STARWARS.eot?") format("eot"), url("STARWARS.woff") format("woff"), url("STARWARS.ttf") format("truetype"), url("STARWARS.svg#STARWARS") format("svg");
                font-weight: normal;
                font-style: normal;
            }
            
            h1 {
                font-family: "STARWARS", sans-serif;
                color: yellow;
            }
            
            h2,
            p {
                font-family: "STARWARS", sans-serif;
                color: yellow;
            }
            
            button {
                width: 100px;
                height: 100px;
                border: none;
                border-radius: 100px;
                font-family: "STARWARS", sans-serif;
                color: whitesmoke;
            }
            
            #btn1,
            #btn4 {
                background: #444;
                background: linear-gradient( #555, #2C2C2C);
                text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
                box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
            }
            
            #btn1:hover,
            #btn4:hover {
                color: #222;
                background: #555;
                background: linear-gradient( #777, #333);
            }
            
            #btn1 :active,
            #btn4 :active {
                color: #000;
                background: #444;
                background: linear-gradient( #555, #2C2C2C);
                box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
            }
            
            #btn2,
            #btn5 {
                background: #072e72;
                background: linear-gradient( #6cb9e3, #0f6b9c);
                text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
                box-shadow: 1px 1px 10px white inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
            }
            
            #btn2:hover,
            #btn5:hover {
                color: #095f8d;
                background: #4897c1;
                background: linear-gradient( #6cb9e3, #146996);
            }
            
            #btn2 :active,
            #btn5 :active {
                background: #072e72;
                background: linear-gradient( #3681ab, #0d6190);
                box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
            }
            
            #btn3,
            #btn6 {
                background: #d6681e;
                background: linear-gradient( #ea813a, #bd540d);
                text-shadow: 0px 1px 0px rgba(116, 49, 4, 0.2);
                box-shadow: 0 0 5px rgba(211, 84, 0, 1.0), 0 -1px 0 rgba( 255, 255, 255, 0.4);
            }
            
            #btn3:hover,
            #btn6:hover {
                color: #cc4d08;
                background: #e38005;
                background: linear-gradient( #ffaa55, #e58309);
            }
            
            #btn3 :active,
            #btn6 :active {
                background: #d6681e;
                background: linear-gradient( #F4A460, #FF6347);
                box-shadow: 0 0 5px rgba(243, 156, 18, 1.0), 0 -1px 0 rgba(211, 84, 0, 1.0);
            }
            
            .vader-move {
                animation-name: move;
                animation-duration: 2s;
                animation-timing-function: linear;
                animation-direction: reverse;
            }
            
            @keyframes move {
                0% {
                    transform: translateX(20px);
                }
                50% {
                    transform: translateX(200px);
                }
                100% {
                    transform: translateX(20px);
                }
            }
            
            #attack-sabre {
                display: none;
                position: absolute;
            }